body {
	background-color: #0C5DA5;
	font-family: 'Concert One', cursive;
	min-width:820px;
}

h1 {
	color: #679FD2;
	font-size:100px;
	position: relative;
	top: -80px;
}

div#searchbar {
	background-color: #408DD2;
	border-style:solid;
	border-width:5px;
	border-color:#043A6B;
	color:#043A6B;
	-webkit-border-radius:12px;
	position:relative;
	top:-135px;
	padding:5px;
	margin-bottom:5px;
	height:25px;
}

form#search {
	margin:auto;
	width:700px;
}

span#searchlabel {
	margin:5px;
}

input#Searchterm {
	background-color: #0C5DA5;
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	-webkit-border-radius:6px;
	color:#FFFFFF;
	min-width:475px;
}

input#search {
	background-color: #0C5DA5;
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	-webkit-border-radius:6px;
	color: #679FD2;
	width:125px;
}

div#slideshow {
	background-color: #408DD2;
	border-style:solid;
	border-width:5px;
	border-color:#043A6B;
	-webkit-border-radius:12px;
	margin-top:5px;
	position:relative;
	top:-135px;
}

#user-image-collection {
	margin-left: auto;
    	margin-right: auto;
	width: 412px;
}

div#user-image-collection {
	width:100%;
}

div#usermenu {
	background-color: #408DD2;
	border-style:solid;
	border-width:5px;
	border-color:#043A6B;
	color:#043A6B;
	-webkit-border-radius:12px;
	margin:auto;
	padding:5px;
	position:relative;
	top:-135px;
}

form#userform {
	margin:auto;
	width:520px;
}

div#usermenu input {
	background-color: #0C5DA5;
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	-webkit-border-radius:6px;
	color: #679FD2;
	width:125px;
}

div#menubar {
	background-color: #408DD2;
	border-style:solid;
	border-width:5px;
	border-color:#043A6B;
	color:#043A6B;
	position:relative;
	padding:5px;
	height:25px;
	top: 0;
	-webkit-border-radius:12px;
	margin-top:5px;
}

form#signoutbut {
	float:right;
	margin-left:5px;
}

input#sign {
	background-color: #0C5DA5;
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	-webkit-border-radius:6px;
	color: #679FD2;
	width:125px;
}

input#home {
	background-color: #0C5DA5;
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	-webkit-border-radius:6px;
	color: #679FD2;
	width:125px;
}

div#info {
	background-color:#408DD2;
	border-style: solid;
	border-color:#043A6B;
	border-width:5px;
	position:relative;
	-webkit-border-radius:12px;
}

div#collection {
	background-color:#408DD2;
	border-style: solid;
	border-color:#043A6B;
	border-width:5px;
	position:relative;
	top: -135px;
	height: 700px;
	-webkit-border-radius:12px;
	margin-top:5px;
}