body {
	background-color: #EEEEEE;
	font-family: 'Concert One', cursive;
	min-width:830px;
}

.buttons {
	background-color: #D8EDFF;
	border-style:none;
	color: #000000;
	width:125px;
	padding: 3px;
	-webkit-box-shadow: 1px 1px 2px 2px #CCC;
	font-family: 'Concert One', cursive;
}

.buttons:hover {
	-webkit-box-shadow: inset 1px 1px 1px 1px #CCC;
	background-color:#D8EDFF;
}

div#usermenu .buttons {
	-webkit-box-shadow: 0px 0px 0px 0px;
	margin-right: -1px;
	height:40px;
	font-size:20px;
}

div#usermenu .buttons:hover {
	-webkit-box-shadow: inset 1px 1px 10px 2px #CCC;
}

.innerbuttons {
	width:100px;
	margin-left:-5px;
	margin-right:-5px;
	border-left-width:1px;
}

.louterbuttons {
	width:100px;
	border-right-style:none;
	margin-right:-5px;
}

.routerbuttons {
	width:100px;
	margin-left: -5px;
	border-left-width: 1px;
}

.imgbuts {
	width: 125px;
	margin: auto;
}

.picdelbut {
	border-left-style:none;
}

.picfavbut {
	border-right-width: 1px;
	border-left-width: 1px;
}

.pictagbut {
	border-right-style:none;
}

.profavbut {
	margin:auto;
	display:block;
}

.panels {
	background-color:#FFFFFF;
	border-color:#043A6B;
	border-width:5px;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
}

.inputs {
	background-color: #D8EDFF;
	border-style:none;
	color:#000000;
	padding:3px;
	-webkit-box-shadow: inset 1px 1px 2px 2px #CCC;
}

.overlays {
	visibility:hidden;
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:#000000;
	opacity:0.5;
}

.viewerbuttons {
	background-color:#FFFFFF;
	border-style: solid;
	border-color:#000000;
	border-width:5px;
	position:relative;
	height:50px;
	width:50px;
	margin-bottom:-50px;
}

.dispfollowers {
	margin: 5px;
	padding: 10px;
	-webkit-border-radius:12px;
	-webkit-box-shadow:3px 3px 5px 6px #CCC;
	background-color:#EEEEEE;
}

.folrembut {
	float:right;
	position:relative;
	top: 0px;
}

.dispfollowers a:link {
	font-size:25px;
	text-decoration:none;
	color: #679FD2;
}

div.dispfollowers a:visited {
	color: #679FD2;
}

.dispfollowees {
	margin:5px;
	padding:10px;
	background-color:#EEEEEE;
	-webkit-box-shadow: 3px 3px 5px 6px #CCC;
	-webkit-border-radius: 12px;
}

.unfollbut {
	float:right;
	position:relative;
	top:0px;
}

.dispfollowees a:link {
	font-size:25px;
	text-decoration:none;
}

h2 {
	font-size: 75px;
	height:75px;
	margin:10px;
	margin-bottom:15px;
	color: #679FD2;
}

div#optionsbar #albumbut {
	float:left;
	position:absolute;
	left:0px;
}

div#optionsbar {
	float:left;
	position:absolute;
	left:0px;
}

div#optionsbar {
	float:right;
	position:absolute;
	right:23px;
}

div#menubar {
	color:#043A6B;
	position:relative;
	padding:10px;
	height:25px;
	top: 0;
	margin-top:-10px;
	margin-right:-10px;
	margin-left:-10px;
	border-bottom-style: solid;
	border-bottom-color: #D8EDFF;
}

form#signupbut {
	float:right;
	margin-top:-10px;
	height:50px;
}

form#signupbut input#sign {
	background-color: white;
	-webkit-box-shadow: 0px 0px 0px 0px;
	border-bottom-style: solid;
	border-bottom-color: #D8EDFF;
	border-bottom-width: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #D8EDFF;
	font-family: 'Concert One', cursive;
	font-size: 25px;
	margin-right: -10px;
	height: 100%;
}

form#signupbut input#sign:hover {
	-webkit-box-shadow: inset 1px 1px 10px 2px #CCC;
}

form#signinform {
	float:right;
	height:50px;
	margin-top:-10px;
	margin-right:10px;
}

form#signinform label {
	font-size:20px;
}

#signin {
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 0px 0px;
	border-bottom-style: solid;
	border-bottom-color: #D8EDFF;
	border-bottom-width: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #D8EDFF;
	font-family: 'Concert One', cursive;
	font-size: 25px;
	margin-right: -10px;
	height: 100%;
}

#signin:hover {
	-webkit-box-shadow: inset 1px 1px 10px 2px #CCC;
}

form#homebut {
	float:left;
	height:50px;
	margin-top:-10px;
}

#home {
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 0px 0px;
	border-bottom-style: solid;
	border-bottom-color: #D8EDFF;
	border-bottom-width: 5px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #D8EDFF;
	font-family: 'Concert One', cursive;
	font-size: 25px;
	margin-left: -10px;
	height: 100%;
}

#home:hover {
	-webkit-box-shadow: inset 1px 1px 10px 2px #CCC;
}

h1 {
	color: #679FD2;
	font-size:100px;
	position: relative;
	top: -80px;
}

img#logo {
	position: relative;
	height:150px;
	top: 0px;
	margin-bottom:135px;
}

form#search {
	margin: auto;
	width: 860px;
	height: 50px;
	margin-top: -2px;
}

input#search {
	height: 55px;
	margin-top: -15px;
	-webkit-box-shadow: 0px 0px 0px 0px;
	border-color: #D8EDFF;
	background-color: white;
	border-top-style: solid;
	border-top-width: 5px;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	font-size: 25px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	margin-left: -6px;
}

input#search:hover {
	-webkit-box-shadow: inset 1px 1px 10px 2px #CCC;
}

span#searchlabel {
	margin:5px;
}

span#searchlabel label {
	font-size:20px;
}

input#Searchterm {
	min-width:475px;
}

.protagbut {
	display: block;
	margin:auto;
}

.albumtitle {
	font-size: 25px;
	color: #679FD2;
}

.albumdate {
	font-style:italic;
}

div#gallery {
	position:relative;
	height: 700px;
	top:-135px;
	-webkit-border-radius:12px;
	width:80%;
	margin:auto;
	margin-top: 12px;
	background-color:#FFFFFF;
}

div#info {
	position:relative;
	margin-top: -122px;
	margin-left:-10px;
	margin-right:-10px;
	margin-bottom:-10px;
	padding:10px;
	border-top-style:solid;
	border-top-color:#D8EDFF;
}

div#imgviewer {
	visibility: hidden;
	width: 80%;
	min-width: 500px;
	position: relative;
	top: 10%;
	left: 10%;
	margin-bottom: 10%;
}

div#imgviewer div#editor {
	width:100%;
	margin-top:-15px;
}

div#imgviewer div#image {
	background:none;
	-webkit-box-shadow: 0px 0px 0px 0px;
}

#theimage {
	max-width: 100%;
	display: block;
	margin: auto;
	-webkit-border-radius: 12px;
	-webkit-box-shadow: 1px 1px 2px 2px #444;
}

div#commentarea {
	-webkit-box-shadow:1px 1px 2px 2px #444;
	-webkit-border-radius:12px;
}

#comments {
	padding:10px;
}

.comment {
	-webkit-box-shadow: 1px 1px 2px 2px #CCC;
	padding: 10px;
	-webkit-border-radius: 12px;
	margin: 10px;
	background-color: #EEEEEE;
}

.commentown {
	font-size: 20px;
	color: #679FD2;
}

#createcommentarea {
	padding:10px;
}

#createcomment {
	margin:10px;
}

form#createcomment div label {
	font-size:20px;
	display:block;
}

#commenttext {
	max-width: 100%;
	width: 100%;
	max-height: 50px;
	height: 50px;
	background-color: #D8EDFF;
	border-style: none;
	color: black;
	-webkit-box-shadow: inset 1px 1px 2px 2px #CCC;
}

div#image img {
	max-width:100%;
	display:block;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: 1px 1px 2px 2px #444;
	-webkit-border-radius: 12px;
}

div#signupbar {
	visibility:hidden;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-250px;
	margin-top:-150px;
	border-color:#000000;
	width:500px;
	-webkit-box-shadow: 1px 1px 2px 2px #444;
	-webkit-border-radius:12px;
}

div#uploadbar {
	visibility:hidden;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-250px;
	margin-top:-150px;
	border-color:#000000;
	width:500px;
	-webkit-box-shadow: 1px 1px 2px 2px #444;
	-webkit-border-radius: 12px;
}

div#tagbar {
	visibility:hidden;
	position:fixed;
	top:50%;
	left:50%;
	width:600px;
	margin-left:-250px;
	margin-top:-150px;
	border-color:#000000;
	-webkit-box-shadow: 1px 1px 2px 2px #444;
	-webkit-border-radius: 12px;
}

div#confirmbar {
	visibility:hidden;
	position:fixed;
	top:50%;
	left:50%;
	width:300px;
	margin-left:-150px;
	margin-top:-150px;
	border-color:#000000;
	-webkit-box-shadow: 1px 1px 2px 2px #444;
	-webkit-border-radius: 12px;
	padding:10px;
}

#confirmform {
	width:260px;
	margin:auto;
}

#tagcancel {
	float:right;
	margin:5px;
	margin-top:7px;
}

#tagsubmit {
	float:right;
	width:30px;
	margin:5px;
	margin-top:7px;
}

#tagspan {
	float:right;
	margin:5px;
}

#tagname {
	width: 285px;
	margin-right:-4px;
}

div#uploadbar div {
	margin:auto;
	width:125px;

}

div#albumbar {
	visibility:hidden;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-250px;
	margin-top:-150px;
	border-color:#000000;
	width:500px;
	-webkit-box-shadow: 1px 1px 2px 2px #444;
	-webkit-border-radius: 12px;
}

div#albumbar div {
	margin:auto;
	width:125px;
}

textarea#albumdesc {
	max-width: 200px;
	width: 200px;
	max-height: 100px;
	height: 100px;
	background-color: #D8EDFF;
	border-style: none;
	color: #000000;
	-webkit-box-shadow: inset 1px 1px 2px 2px #CCC;
}

textarea#imagedesc {
        max-width: 200px;
        width: 200px;
        max-height: 100px;
        height: 100px;
        background-color: #0C5DA5;
        border-style: solid;
        border-color: #043A6B;
        border-width: 3px;
        color: #FFFFFF;
}^

form#signupform {
	margin:auto;
}

form#signupform label {
	color: #043A6B;
}

form#signupform div {
	margin:auto;
	width:125px;
}

div#searchbar {
	color:#043A6B;
	position:relative;
	top:-135px;
	padding:10px;
	margin-bottom:5px;
	margin-right:-10px;
	margin-left:-10px;
	height:25px;
	border-bottom-style: solid;
	border-bottom-color: #D8EDFF;
	border-top-style: solid;
	border-top-color: #D8EDFF;
}

div#slideshow {
	background-color: #408DD2;
	border-style:solid;
	border-width:5px;
	margin-top:5px;
	position:relative;
	top:-135px;
	width:66%;
	margin:auto;
	margin-bottom:55px;
	margin-top:20px;
	-webkit-box-shadow: 3px 3px 5px 6px #CCC;
	-webkit-border-radius: 12px;
	
}

div#usermenu {
	margin:auto;
	padding-right:12px;
	padding-left:12px;
	padding-top:0px;
	padding-bottom:0px;
	position:relative;
	-webkit-box-shadow: 1px 1px 2px 2px #ccc;
	border-style:none;
	-webkit-border-radius:12px;
	background-color: #D8EDFF;
	width: 699px;
}

.slides li {
	height:400px;
	overflow:hidden;
}

.slides img {
	position:relative;
}

div#collection {
	position:relative;
	top: -135px;
	margin-top:5px;
	padding:5px;
	margin-bottom:-128px;
	-webkit-border-radius:12px;
}

div#results {
	position:relative;
	top: -135px;
	border-style:none;
	-webkit-box-shadow: 0px 0px 0px 0px #CCC;
	margin-top:10px;
	background-color:#EEEEEE;
}

form#signoutbut {
	float:right;
	height:50px;
	margin-top:-10px;
}

form#signoutbut #sign {
	background-color: white;
	-webkit-box-shadow: 0px 0px 0px 0px;
	border-bottom-style: solid;
	border-bottom-color: #D8EDFF;
	border-bottom-width: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #D8EDFF;
	font-family: 'Concert One', cursive;
	font-size: 25px;
	margin-right: -10px;
	height: 100%;
}

form#signoutbut #sign:hover {
	-webkit-box-shadow: inset 1px 1px 10px 2px #CCC;
}

div#userinfo {
	float:right;
	font-size:25px;
	height:45px;
	margin-top:-10px;
	width:125px;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color:#D8EDFF;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #D8EDFF;
}

div#userinfo a:hover {
	font-weight:normal;
}

div#userinfo:hover {
	-webkit-box-shadow: inset 1px 1px 10px 2px #ccc;
}

#dispname {
	position:relative;
	display:block;
	margin:auto;
	width:115px;
	height:50px;
	text-align:center;
	top:9px;
}

div#albuminfo {
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-border-radius: 12px;
	margin:5px;
	padding:10px;
	margin-top:15px;
}

div#albumtitle {
	margin:5px;
}

div#albumdesc {
	margin:5px;
}

#uploadbut {
	float:right;
	position:relative;
	top:-20px;
}

#albdelbut {
	margin-right:5px;
	float:right;
	position:relative;
	top:-20px;
}

.dispalbum {
	background-color:#EEEEEE;
	height:75px;
	padding:10px;
	padding-bottom:20px;
	margin:5px;
	-webkit-box-shadow:3px 3px 3px 3px #CCC;
	-webkit-border-radius:12px;
}

div.dispalbum a:link {
	font-size:25px;
	text-decoration:none;
}

.imgdesc {
	margin-bottom:5px;
}

.imagetable {
	width: 100%;
}

.tableleft {
	width:75%
}

.tableright {
	width:25%
}

h1#errorheader{
	text-align:center;
	color:#FF0000;
}

div.dispimage {
	border-style:none;
	background-color:#FFFFFF;
	margin:5px;
	padding:10px;
}

div#thumbnail-display div.dispimage {
	border-style: none;
	background-color: #EEEEEE;
	margin: auto;
	margin-top:10px;
	margin-bottom: 10px;
	padding: 10px;
	max-width: 90%;
	-webkit-border-radius: 12px;
	-webkit-box-shadow: 3px 3px 5px 6px #CCC;
	display:block;
}

.dispimage img {
	display:block;
	margin-right:auto;
	margin-left:auto;
	max-width:100%;
}

div#thumbnail-display div.dispimage img {
	display:block;
	margin-right:auto;
	margin-left:auto;
	max-width:100%;
	margin-bottom:10px;
}

.disppanel {
	margin:5px;
	padding:5px;
}

#image-holder {
	width: 90%;
	margin:auto;
	border-style:none;

}

.imagesection {
	background-color:#FFFFFF;
	-webkit-border-radius: 12px;
	-webkit-box-shadow: 3px 3px 5px 6px #CCC;
	margin-top:10px;
	margin-bottom:10px;
}

#tagarea {
	text-align:center;
	margin-bottom:10px;
}

div#viewercontainer {
	visibility:hidden;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0%;
	left: 0%;
	overflow: scroll;
}

.dispfollowreq {
	margin: 5px;
	padding: 10px;
	background-color:#EEEEEE;
	-webkit-border-radius:12px;
	-webkit-box-shadow: 3px 3px 5px 6px #CCC;
}

div.dispfollowreq a:link {
	font-size: 25px;
	text-decoration:none;
}

.accfolreq {
	position: relative;
	float: right;
	top: 0px;
}

.decfolreq {
	float: right;
	position: relative;
	top: 0px;
	margin-right: 5px;
}

/* Tiny Carousel */
#slider1 { 
	height: 100px;
	width:550px; 
	overflow:hidden; 
	padding: 0 0 10px; 
	margin:auto;  
}

#slider2 { 
	height: 100px;
	width:550px; 
	overflow:hidden; 
	padding: 0 0 10px; 
	margin:auto;  
}

#slider3 { 
	height: 100px;
	width:550px; 
	overflow:hidden; 
	padding: 0 0 10px; 
	margin:auto;  
}

#slider4 { 
	height: 100px;
	width:550px; 
	overflow:hidden; 
	padding: 0 0 10px; 
	margin:auto;  
}

#slider5 { 
	height: 100px;
	width:550px; 
	overflow:hidden; 
	padding: 0 0 10px; 
	margin:auto;  
}

.catlabel {
	text-align: center;
	margin:5px;
}

.viewport { 
	float: left; 
	width: 450px; 
	height: 75px;
	overflow: hidden; 
	position: relative; 
}

.buttonsalt { 
	background:url("/picnit/images/gui/buttons.png") no-repeat scroll 0 0 transparent; 
	display: block; margin: 30px 10px 0 0; 
	background-position: 0 -38px; 
	text-indent: -999em;
	float: left; 
	width: 39px; 
	height: 37px; 
	overflow: hidden; 
	position: relative; 
	border-style:none;
}

.next { 
	background-position: 0 0;
	margin: 30px 0 0 10px;  
}

.disable { 
	visibility: hidden; 
}

.overview { 
	list-style: none; 
	position: absolute; 
	padding: 0; 
	margin: 0; 
	width: 240px; 
	left: 0;
 	top: 0; 
}

.overview li{ 
	float: left; 
	margin: 20px 10px 0 0; 
	padding: 1px; 
	height: 52px; 
	border: 1px solid #dcdcdc; 
	width: 101px;
}

div#userinfo a {
	text-decoration:none;
}

a {
	text-decoration: none;
	color:#000000;
}

a:hover {
	font-weight:bold;
}

a:link {
	color:#000000;
}

a:visited {
	color:#000000;
}

.dispalbum:hover {
	-webkit-box-shadow: inset 1px 1px 2px 2px #CCC;
}

.imgname {
	font-size: 25px;
	color:#679FD2;
}

.imgdate {
	font-style:italic;
}

.tagdelete {
	font-size: 10px;
}

span#searchdroplabel label {
	font-size: 25px;
}

#searchtype {
	-webkit-appearance: button;
	-webkit-border-radius: 0px;
	border-style: none;
	width: 105px;
	height: 55px;
	margin-top: -20px;
	font-size: 25px;
	font-family: 'Concert One', cursive;
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-top-style: solid;
	border-top-width: 5px;
	border-color: #D8EDFF;
	padding:5px;
}

#searchtype:hover {
	inset 1px 1px 10px 2px #CCC;
}
