body {
	background-color: #FFFFFF;
	font-family: 'Concert One', cursive;
	min-width:830px;
}

.buttons {
	background-color: #0C5DA5;
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	color: #FFFFFF;
	width:125px;
}

.buttons:hover {
	-webkit-box-shadow: inset 0 0 5px #000000;
	background-color:#679FD2;
}

.innerbuttons {
	width:100px;
	margin-left:-5px;
	margin-right:-5px;
	border-left-width:1px;
}

.louterbuttons {
	width:100px;
	border-right-style:none;
	margin-right:-5px;
}

.routerbuttons {
	width:100px;
	margin-left: -5px;
	border-left-width: 1px;
}

.imgbuts {
	width: 375px;
	margin: auto;
}

.picdelbut {
	border-left-style:none;
}

.picfavbut {
	border-right-width: 1px;
	border-left-width: 1px;
}

.pictagbut {
	border-right-style:none;
}

.panels {
	background-color:#FFFFFF;
	border-style: solid;
	border-color:#043A6B;
	border-width:5px;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
}

.inputs {
	background-color: #0C5DA5;
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	color:#FFFFFF;
}

.overlays {
	visibility:hidden;
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:#000000;
	opacity:0.5;
}

.viewerbuttons {
	background-color:#FFFFFF;
	border-style: solid;
	border-color:#000000;
	border-width:5px;
	position:relative;
	height:50px;
	width:50px;
	margin-bottom:-50px;
}

.dispfollowers {
	border-style: solid;
	margin: 5px;
	padding: 5px;
}

.folrembut {
	float:right;
	position:relative;
	top: 0px;
}

.dispfollowers a {
	font-size:25px;
}

.dispfollowees {
	border-style:solid;
	margin:5px;
	padding:5px;
}

.unfollbut {
	float:right;
	position:relative;
	top:0px;
}

.dispfollowees a {
	font-size:25px;
}

h2 {
	font-size: 75px;
	height:75px;
	margin:10px;
	margin-bottom:15px;
	color: #679FD2;
}

div#otionsbar #albumbut {
	float:left;
	position:absolute;
	left:0px;
}

div#optionsbar {
	float:left;
	position:absolute;
	left:0px;
}

div#optionsbar {
	float:right;
	position:absolute;
	right:23px;
}

div#menubar {
	color:#043A6B;
	position:relative;
	padding:5px;
	height:25px;
	top: 0;
	margin-top:5px;
}

form#signupbut {
	float:right;
	margin-left:5px;
}

form#signinform {
	float:right;
}

form#homebut {
	float:left;
	margin-right:5px;
}

h1 {
	color: #679FD2;
	font-size:100px;
	position: relative;
	top: -80px;
}

img#logo {
	position: relative;
	height:150px;
	top: 0px;
	margin-bottom:135px;
}

form#search {
	margin:auto;
	width:700px;
}

span#searchlabel {
	margin:5px;
}

input#Searchterm {
	min-width:475px;
}

div#gallery {
	position:relative;
	height: 700px;
	top:-135px;
}

div#info {
	position:relative;
	margin-top: 5px;
}

div#imgviewer {
	visibility: hidden;
	width: 80%;
	min-width: 500px;
	position: relative;
	top: 10%;
	left: 10%;
	margin-bottom: 10%;
}

div#imgviewer div#editor {
	width:100%;
	margin-top:-15px;
}

div#imgviewer div#image {
	border-color:#000000;
	-webkit-box-shadow: 0px 0px 0px 0px #ccc;
}

div#imgviewer div#comments {
	border-color:#000000;
	margin-top:15px;
	-webkit-box-shadow: 0px 0px 0px 0px #ccc;
}

div#image img {
	border-style:solid;
	max-width:70%;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

div#signupbar {
	visibility:hidden;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-250px;
	margin-top:-150px;
	border-color:#000000;
	width:500px;
	-webkit-box-shadow: 0px 0px 0px 0px #ccc;
}

div#uploadbar {
	visibility:hidden;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-250px;
	margin-top:-150px;
	border-color:#000000;
	width:500px;
	-webkit-box-shadow: 0px 0px 0px 0px #ccc;
}



div#uploadbar div {
	margin:auto;
	width:125px;

}

div#albumbar {
	visibility:hidden;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-250px;
	margin-top:-150px;
	border-color:#000000;
	width:500px;
	-webkit-box-shadow: 0px 0px 0px 0px #ccc;
}

div#albumbar div {
	margin:auto;
	width:125px;
}

form#signupform {
	margin:auto;
}

form#signupform label {
	color: #043A6B;
}

form#signupform div {
	margin:auto;
	width:125px;
}

div#searchbar {
	color:#043A6B;
	position:relative;
	top:-135px;
	padding:5px;
	margin-bottom:5px;
	height:25px;
}

div#slideshow {
	background-color: #408DD2;
	border-style:solid;
	border-width:5px;
	border-color:#043A6B;
	margin-top:5px;
	position:relative;
	top:-135px;
	width:66%;
	margin:auto;
	margin-bottom:55px;
}

#user-image-collection {
	margin-left: auto;
	margin-right: auto;
	width: 412px;
}

div#user-image-collection {
	width:100%;
}

div#collection {
	padding:5px;
}

div#usermenu {
	margin:auto;
	padding:5px;
	position:relative;
	-webkit-box-shadow: 0px 0px 0px 0px #ccc;
	border-style:none;
	width: 780px;
}

.slides li {
	height:300px;
	overflow:hidden;
}

.slides img {
	position:relative;
}

div#collection {
	position:relative;
	top: -135px;
	margin-top:5px;
}

div#results {
	position:relative;
	top: -135px;
}

form#signoutbut {
	float:right;
	margin-left:5px;
}

div#userinfo {
	float:right;
}

div#albuminfo {
	-webkit-box-shadow: 0px 0px 0px 0px #ccc;
	margin:5px;
}

div#albumtitle {
	margin:5px;
}

div#albumdesc {
	margin:5px;
}

#uploadbut {
	margin:5px;
}

#albdelbut {
	margin-right:5px;
}

.dispalbum {
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	background-color:#FFFFFF;
	height:75px;
	padding:5px;
	margin:5px;
}

.imgdesc {
	margin-bottom:5px;
	max-width:100%;
	width:100%;
}

h1#errorheader{
	text-align:center;
	color:#FF0000;
}

div.dispimage {
	border-style:solid;
	background-color:#FFFFFF;
	margin:5px;
	padding:5px;
}

.dispimage img {
	display:block;
	margin-right:auto;
	margin-left:auto;
	max-width:100%;
}

div#viewercontainer {
	visibility:hidden;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0%;
	left: 0%;
	overflow: scroll;
}

/* Tiny Carousel */
#slider1 { 
	height: 100px;
	width:550px; 
	overflow:hidden; 
	padding: 0 0 10px; 
	margin:auto;  
}

#slider2 { 
	height: 100px;
	width:550px; 
	overflow:hidden; 
	padding: 0 0 10px; 
	margin:auto;  
}

#slider3 { 
	height: 100px;
	width:550px; 
	overflow:hidden; 
	padding: 0 0 10px; 
	margin:auto;  
}

#slider4 { 
	height: 100px;
	width:550px; 
	overflow:hidden; 
	padding: 0 0 10px; 
	margin:auto;  
}

#slider5 { 
	height: 100px;
	width:550px; 
	overflow:hidden; 
	padding: 0 0 10px; 
	margin:auto;  
}

.catlabel {
	text-align: center;
	margin:5px;
}

.viewport { 
	float: left; 
	width: 450px; 
	height: 75px;
	overflow: hidden; 
	position: relative; 
}

.buttonsalt { 
	background:url("/picnit/images/gui/buttons.png") no-repeat scroll 0 0 transparent; 
	display: block; margin: 30px 10px 0 0; 
	background-position: 0 -38px; 
	text-indent: -999em;
	float: left; 
	width: 39px; 
	height: 37px; 
	overflow: hidden; 
	position: relative; 
	border-style:none;
}

.next { 
	background-position: 0 0;
	margin: 30px 0 0 10px;  
}

.disable { 
	visibility: hidden; 
}

.overview { 
	list-style: none; 
	position: absolute; 
	padding: 0; 
	margin: 0; 
	width: 240px; 
	left: 0;
 	top: 0; 
}

.overview li{ 
	float: left; 
	margin: 20px 10px 0 0; 
	padding: 1px; 
	height: 52px; 
	border: 1px solid #dcdcdc; 
	width: 101px;
}

