body {
	background-color: #0C5DA5;
	font-family: 'Concert One', cursive;
	min-width:820px;
}

div#menubar {
	background-color: #408DD2;
	border-style:solid;
	border-width:5px;
	border-color:#043A6B;
	color:#043A6B;
	position:relative;
	padding:5px;
	height:25px;
	top: 0;
	-webkit-border-radius:12px;
	margin-top:5px;
}

form#signupbut {
	float:right;
	margin-left:5px;
}

form#signinform {
	float:right;
}

form#homebut {
	float:left;
	margin-right:5px;
}

input#home {
	background-color: #0C5DA5;
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	-webkit-border-radius:6px;
	color: #679FD2;
	width:125px;
}

input#Username, input#email, input#Password, input#Confirmpassword, input#Newusername, input#Newpassword {
	background-color: #0C5DA5;
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	-webkit-border-radius:6px;
	color:#FFFFFF;
}

input#signin {
	background-color: #0C5DA5;
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	-webkit-border-radius:6px;
	color: #679FD2;
	width:125px;
}

input#sign {
	background-color: #0C5DA5;
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	-webkit-border-radius:6px;
	color: #679FD2;
	width:125px;
}

h1 {
	color: #679FD2;
	font-size:100px;
	position: relative;
	top: -80px;
}

form#search {
	margin:auto;
	width:700px;
}

span#searchlabel {
	margin:5px;
}

input#Searchterm {
	background-color: #0C5DA5;
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	-webkit-border-radius:6px;
	color:#FFFFFF;
	min-width:475px;
}

input#search {
	background-color: #0C5DA5;
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	-webkit-border-radius:6px;
	color: #679FD2;
	width:125px;
}

div#gallery {
	background-color:#408DD2;
	border-style: solid;
	border-color:#043A6B;
	border-width:5px;
	position:relative;
	height: 700px;
	-webkit-border-radius:12px;
}

div#info {
	background-color:#408DD2;
	border-style: solid;
	border-color:#043A6B;
	border-width:5px;
	position:relative;
	margin-top: 5px;
	-webkit-border-radius:12px;
}

div#overlay {
	visibility:hidden;
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:#000000;
	opacity:0.5;
}

div#signupbar {
	visibility:hidden;
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-250px;
	margin-top:-150px;
	background-color:#408DD2;
	border-style: solid;
	border-color:#043A6B;
	border-width:5px;
	width:500px;
	-webkit-border-radius:12px;
}

form#signupform {
	margin:auto;
}

input#signup {
	background-color: #0C5DA5;
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	-webkit-border-radius:6px;
	color: #679FD2;
	width:125px;
}

form#signupform label {
	color: #043A6B;
}

form#signupform div {
	margin:auto;
	width:125px;
}

input#cancel {
	background-color: #0C5DA5;
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	-webkit-border-radius:6px;
	color: #679FD2;
	width:125px;
}

div#searchbar {
	background-color: #408DD2;
	border-style:solid;
	border-width:5px;
	border-color:#043A6B;
	color:#043A6B;
	-webkit-border-radius:12px;
	position:relative;
	top:-135px;
	padding:5px;
	margin-bottom:5px;
	height:25px;
}

div#slideshow {
	background-color: #408DD2;
	border-style:solid;
	border-width:5px;
	border-color:#043A6B;
	-webkit-border-radius:12px;
	margin-top:5px;
	position:relative;
	top:-135px;
	width:66%;
	margin:auto;
	margin-bottom:55px;
}

#user-image-collection {
	margin-left: auto;
	margin-right: auto;
	width: 412px;
}

div#user-image-collection {
	width:100%;
}

div#usermenu {
	background-color: #408DD2;
	border-style:solid;
	border-width:5px;
	border-color:#043A6B;
	color:#043A6B;
	-webkit-border-radius:12px;
	margin:auto;
	padding:5px;
	position:relative;
	top:-135px;
}

form#userform {
	margin:auto;
	width:520px;
}

div#usermenu input {
	background-color: #0C5DA5;
	border-style:solid;
	border-width:3px;
	border-color:#043A6B;
	-webkit-border-radius:6px;
	color: #679FD2;
	width:125px;
}

.slides li {
	height:300px;
	overflow:hidden;
}

.slides img {
	position:relative;
	-webkit-border-radius:6px;
}

div#collection {
	background-color:#408DD2;
	border-style: solid;
	border-color:#043A6B;
	border-width:5px;
	position:relative;
	top: -135px;
	height: 700px;
	-webkit-border-radius:12px;
	margin-top:5px;
}

div#results {
	background-color:#408DD2;
	border-style: solid;
	border-color:#043A6B;
	border-width:5px;
	position:relative;
	top: -135px;
	height: 700px;
	-webkit-border-radius:12px;
}

form#signoutbut {
	float:right;
	margin-left:5px;
}

img#logo {
	position:relative;
	top:50px;
}
