ErrorDocument 403 /picnit/403.php
ErrorDocument 404 /picnit/404.php

Options +FollowSymlinks
RewriteEngine on
RewriteRule ^profile/([a-zA-Z0-9_]+)$ /picnit/profile.php?username=$1 [NC]
RewriteRule ^album/([0-9]+)$ /picnit/album.php?id=$1 [NC]

php_value post_max_size 2M
